# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
lib/apache-tomcat-7.0.16/logs

# Class Files #
*.class

# Package Files #
*.war
*.ear